<td class="ui sub header"><%= app_error.title %></td>
<td><%= app_error.description %></td>
<td><%= app_error.log %></td>
<td><%= app_error.severity %></td>
<td><%= app_error.app_name %></td>
<td>
  <%=form_with(model: app_error, method: :patch) do |f| %>
    <%= f.select :developer_id, app_error.app.developers.map {|d| [d.username, d.id]},
                 {}, {"data-action": "change->appError#handleDeveloperForm", class: 'ui search dropdown'} %>
    <button class="none" data-target="appError.developerFormButton"></button>
  <% end %>
</td>


<td>
  <%= form_with model: app_error,
                method: :patch, remote:true do |f| %>
    <%= f.select :status, AppError.status_options, {}, {"data-action": "change->appError#handleStatusForm", class: 'ui  search dropdown' } %>
    <button class="none" data-target="appError.statusFormButton"></button>

    <% if app_error.status === "solved" %>
      <i class="check circle icon green "></i>
    <%elsif app_error.status === 'in_progress' %>
      <i class="close circle icon yellow  "></i>
    <%else  %>
      <i class="times circle icon red"></i>
    <% end %>

  <% end %>

</td>