<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @error.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @error.description %>
</p>

<p>
  <strong>Serverity:</strong>
  <%= @error.serverity %>
</p>

<p>
  <strong>App:</strong>
  <%= @error.app_id %>
</p>

<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>
