<table class="ui celled padded table shadow">
  <thead>
  <tr>
    <th class="ui center aligned sub header">Ceo</th>
    <th class="ui center aligned sub header">Developers</th>
    <th class="ui center aligned sub header">App Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% apps.each do |app| %>
    <tr data-controller="appError">
      <td class="ui center aligned sub header" ><%= app.ceo.username %></td>

      <td class="ui center aligned sub header">
        <% if app.developers.present? %>
          <h5>Developers</h5>
          <%= select('developers','developer_id', app.developers.collect {|d| [d.username, d.id]} ) %>
        <% else %>
          no team members
        <% end %>

        <%=form_with( url: DeveloperApp.new, method: :post) do |f| %>
           <h5>Add developer</h5>
          <%= f.hidden_field :app_id , value: app.id %>
          <%= f.select :developer_id, User.available_developers(app),
                       {}, {"data-action": "change->appError#handleDeveloperForm"} %>
          <button class="none" data-target="appError.developerFormButton"></button>
        <% end %>
      </td>

      <td class="ui center aligned sub header"><%= app.name %></td>
      <td><%= link_to 'Show', app_path(app) %></td>
<!--      <td><%#= link_to 'Edit', edit_app_path(app) %></td>-->
      <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
