<div class="two wide column">
     <div>
       <h1 class="title blue">Apps</h1>
       <%if user_signed_in? %>
         <h1> Logged_in: <%= @logged_in_user.email %></h1>
         <small> <span class="blue">secret_key:</span> <%= @logged_in_user.auth_token%></small>
       <% end  %>

<!--       headline info-->
       <div class="ui four statistics purple-shadow headline">
         <div class="statistic">
           <div class="value">
             200
           </div>
           <div class="label">
             Fixed Bugs
           </div>
         </div>
         <div class="statistic">
           <div class="value">
              400
           </div>
           <div class="label">
             Total errors
           </div>
         </div>
         <div class="statistic">
           <div class="value">
             <i class="laptop icon"></i><%= current_user.apps.count %>
           </div>
           <div class="label">
              Apps
           </div>
         </div>
         <div class="statistic">
           <div class="value">
             <img src="https://image.shutterstock.com/image-vector/people-strong-5-logo-template-260nw-141039172.jpg" class="ui circular inline image">
             4
           </div>
           <div class="label">
             Team Members Online
           </div>
         </div>
       </div>

       <%= render 'apps/ceo_apps', ceo_apps: @ceo_apps  %>
       <hr/>
       <% if @developer_apps.present? %>
         <%= render 'apps/developer_apps', developer_apps: @developer_apps %>
       <%else %>
         <h4>you are not a developer in any apps</h4>
       <% end %>
       <hr/>
       <%= link_to 'New App', new_app_path %>

     </div>

   </div>







