<div class="two wide column">
     <div>
       <h1 class="title blue">Apps</h1>
       <h1> Logged_in: <%= @logged_in_user.email %></h1>
       <small> <span class="blue">secret:</span> <%= @logged_in_user.auth_token%></small>
       <%= render 'apps/ceo_apps', ceo_apps: @ceo_apps  %>
       <hr/>
       <% if @developer_apps.present? %>
         <%= render 'apps/developer_apps', developer_apps: @developer_apps %>
       <%else %>
         <h4>you are not a developer in any apps</h4>
       <% end %>
       <hr/>
       <%= link_to 'New App', new_app_path %>


       <% if user_signed_in? %>
         <li>
           <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
         </li>
       <% else %>
         <li>
           <%= link_to('Login', new_user_session_path) %>
         </li>
       <% end %>
     </div>

   </div>







<article>
  <h2>Test users</h2>
  <p>email: <%=@test_user_one.email %> </p>
  <p>token: <%=@test_user_one.auth_token %> </p>
   <p>password: foobar</p>
  <hr/>
  <p>email: <%=@test_user_two.email %> </p>
  <p>token: <%=@test_user_two.auth_token %> </p>
  <p>password: foobar</p>

</article>