<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @app.name %>
</h1>
<h3>
  <strong>Ceo:</strong>
  <%= @app.ceo.email %>
</h3>


<div>
  <strong>Developers:</strong>
  <%= select('developers','developer_id', @app.developers.collect {|d| [d.email, d.id]} ) %>
</div>


<br/>
<div id="error_list">
  <%= render 'app_errors/app_errors',app_errors: @app.app_errors %>
</div>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
